{% extends 'app/base.html' %}
{% load static %}
{% block title %} Contactos {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'app/css/contactos.css' %}">
<link rel="stylesheet" href="{% static 'app/imagenes/iconos-contactos/style.css' %}">
{% endblock %}
{% block content %}
<h1 class="mt-5 mb-5 text-center">Contáctanos!</h1>
<hr>
<div class="redes d-flex gap-4 justify-content-center mb-5">
    <div class="red whtsp">
        <a href="https://api.whatsapp.com/send?phone=+58 4129032865">
            <button type="button" class="button">
                <span class="icon-whatsapp"></span>
                Whatsapp
            </button>
        </a>
    </div>
    <div class="red fcbo">
        <a href="#">
            <button type="button" class="button">
                <span class="icon-facebook"></span>
                Facebook
            </button>
        </a>
    </div>
    <div class="red tiktok">
        <a href="#">
            <button type="button" class="button">
                <span class="icon-tiktok"></span>
                Tik Tok
            </button>
        </a>
    </div>
    <div class="red instg">
        <a href="#">
            <button type="button" class="button">
                <span class="icon-instagram"></span>
                Instagram
            </button>
        </a>
    </div>
</div>

<div class="d-grid justify-content-center w-100 gap-5 mb-4">
    <div class="card">
        <div class="card-body">
            <h2 class="mb-4"><span class="icon-gmail"></span> Envíanos un Mail</h2>
        <form method="POST" action="{% url 'contacto' %}" class="form-mail">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-dark">Dirección Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" required placeholder="example@example.com" name="dir_email">
            </div>
            <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-dark">Asunto</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Título del Correo" name="asunto" minlength="2" maxlength="50">
            </div>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label text-dark">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" required placeholder="Escribe algo..." rows="3" name="subject" minlength="2"></textarea>
            </div>
            <hr>
            <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-primary" type="submit">Enviar</button>
                <button class="btn btn-secondary" type="reset">Cancelar</button>
            </div>
        </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="mb-4"><span class="icon-location2"></span> Ubicanos</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.444239343925!2d-69.36764698471839!3d10.06263837471233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8766941dee49bd%3A0x2069722efadffd19!2sC.C.%20Metr%C3%B3polis!5e0!3m2!1ses!2sve!4v1647637211189!5m2!1ses!2sve" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>    
    </div>
</div>

{% endblock %}