{% extends 'app/base.html' %}
{% load static %}
{% block title %} Inicio {% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'app/css/home.css' %}"> {% endblock %}
{% block content %}
<h1 class="mt-5 mb-5 text-center title">Bienvenido a la mejor Tienda de Ropa</h1>

<div class="description mt-5 text-dark d-flex align-items-center text">
  <p>Conoce nuestra tienda online <strong>{ Nombre }</strong> en Venezuela con lo mejor en ropa para dama, caballeros, niños y jóvenes y con las últimas tendencias de la temporada. Visita nuestra tienda online de ropa y accesorios para gente joven y no tan jóven que le encanta estar a la moda.
  <br><br> Tenemos las mejores marcas de ropa de mujer, hombre y niños incluyendo camisas casuales y de vestir, blusas, zapatos, calzados de dama, sueters, shorts, jeans, bermudas, y todo lo que necesitas para estar a la moda a precios bajos y accesibles. Contáctanos a nuestras Redes Sociales <a href="{% url 'contacto' %}">aquí.</a> Estamos listos para atenderte.</p>
</div>

{% endblock %}
