{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Productos {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'app/css/productos.css' %}">
{% endblock %}
{% block content %}
<h1 class="mt-5 mb-5 text-center">Nuestros Productos</h1>

<div class="card-group d-grid gap-5 mb-4">
  {% for p in productos %}
    <div class="card">
      {% if p.imagen %}
      <img src="{{ p.imagen.url }}" class="card-img-top" alt="imagen producto">
      {% else %}
      <img src="{% static 'app/imagenes/Productos/placeholder.jpg' %}" class="card-img-top" alt="imagen producto">
      {% endif %}
      <div class="card-body">
        <small class="text-muted">{{ p.marca | capfirst }}</small>
        <h5 class="card-title">{{ p.nombre | title }}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">$ {{ p.precio | intcomma }}</small>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}