{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Productos {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'app/css/productos.css' %}">
{% endblock %}
{% block content %}
<h1 class="mt-5 mb-5 text-center">Nuestros Productos</h1>

<div class="card-group d-grid gap-5 mb-4">
  {% for p in entity %}
      <div class="card border-0">
          <a href="{% url 'view_producto' p.nombre p.id %}" class="text-decoration-none">
              {% if p.imagen %}
                  <img src="{{ p.imagen.url }}" class="card-img-top border-bottom" alt="imagen producto">
              {% else %}
                  <img src="{% static 'app/imagenes/Productos/placeholder.jpg' %}" class="card-img-top" alt="imagen producto">
              {% endif %}
              <div class="card-body text-center text-white d-flex flex-column justify-content-end">
                  <small class="text-muted text">{{ p.marca | capfirst }}</small>
                  <a href="{% url 'view_producto' p.nombre p.id %}" class="text-decoration-none"><h5 class="card-title title">{{ p.nombre | title }}</h5></a>
                  <p class="card-text text text-dark">{{ p.descripcion }}</p>
                  <p class="card-text number text-dark">$ {{ p.precio }}</p>
              </div>
          </a>
      </div>
  {% endfor %}
</div>
<hr>
<div>
  {% include 'app/paginator.html' %}
</div>

{% endblock %}