body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #59c173, #a17fe0, #5d26c1) !important;
}

.container {
    min-height: 100vh;
}

.navbar {
    background-color: #bbf2ff;
}

.icon-cart1:before {
    font-size: 1.5rem;
    color: #fff;
}

.contador_carrito {
    margin-left: 1rem;
}

.btn-add a,
.btn-rest a {
    background-color: #626262;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer .sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.footer .menu {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.footer .menu .nav-item a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .footer .menu {
        display: none;
    }
}