.card-group {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-group .card {
    box-shadow: none;
    transition: all 0.3s ease;
}

.card-group .card:hover {
    box-shadow: 2px 2px 15px 2px #000;
}

.card-group .card .card-img-top {
    max-height: 240px;
    height: 100%;
    object-fit: fill;
    transition: all 0.3s ease;
}

.card-group .card:hover .card-img-top {
    object-fit: contain;
}